header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    a {
      color: $white;
      font-size: 18px;
      font-family: $tertiary-font;
      margin-left: 40px;
      font-weight: 500;
      &:hover {
        color: $grey;
      }
    }
  }
}
