// FONTS

$primary-font: "Cambay", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$tertiary-font: "Work Sans", sans-serif;
$quaternary-font: "Leckerli One", cursive;
$quinary-font: "Coustard", serif;

// COLORS

$primary-color: #0081ff;
$secondary-color: #007af2;
$tertiary-color: #1cbbb4;
$quaternary-color: #ffff00;
$quaternary-color-transparent: rgba(255, 255, 0, 0.4);
$white: #fff;
$lightblack: #2b2b2b;
$black: #000;
$grey: #8799a3;
$dark-grey: #636363;
$light-blue: #4da7ff;
$dark-blue: #343e45;
$date: #bbc7cd;
