#clients {
  background-image: url("/images/bg-avis.png");
  background-size: cover;
  padding: 220px 0;
  .content-wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: transparent;
      i {
        -webkit-text-stroke: 1px $grey;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
      }
      &:hover i {
        -webkit-text-fill-color: $grey;
      }
    }
  }
  .slider-wrapper {
    width: 750px;
    overflow: hidden;
  }
  .avis-wrapper {
    display: flex;
    margin: 90px 0 0 0;
    width: 2250px;
    height: 300px;
    justify-content: center;
    animation: 20s slider infinite;

    .avis {
      width: 750px;
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .comment {
      font-family: $quinary-font;
      font-size: 24px;
      line-height: 30px;
    }
    .author {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
    }
    .name {
      font-family: $secondary-font;
      font-weight: bold;
      color: $quaternary-color;
      font-size: 18px;
    }
    .company {
      font-size: 16px;
      color: $dark-grey;
    }
  }
}

.logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
